---
  layout: default
  title: Inscripción recibida
  section: inscripcion
---
<h2>{{ page.title }}</h2>
  <p>Hemos recibido tus datos correctamente y ya deberías aparecer entre los <a href="pilotos.html">pilotos inscritos</a>.</p>
  
  <p>La cuota de inscripción es de <strong>{{site.nice_price}}€</strong> y puede pagarse por transferencia al número de cuenta abajo indicado o al formalizar la inscripción antes del campeonato.<!-- A partir de esa fecha serán <strong>{{site.last_price}}€</strong> que pueden pagarse tanto por transferencia como al formalizar la inscripción antes del campeonato.--></p>
  
  {% include account.html %}

  <p>Gracias participar y... <strong>¡buenos vuelos!</strong></p>
  {% include animation.html %}
