---
  layout: default
  title: Pilotos inscritos
  section: pilotos
---
<h2>{{ page.title }}</h2>

  <table class="pilots">
    <thead>
      <tr>
        <th width="41%">Nombre y apellidos</th>
        <th class="nat" width="5%">Nat.</th>
        <th class="glider_class" width="12%">Clase</th>
        <th width="38%">Marca y modelo</th>
        <th class="paid" width="4%">€</th>
      </tr>
    </thead>
    <tbody>
      <tr class="spinner">
        <td colspan="5"><img alt="cargando pilotos..." src="images/ajax-loader.gif"/></td>
      </tr>
    </tbody>
  </table>

  <table id="brands_stats" class="pilot_stats">
    <tbody>
      <tr>
        <td class="total">Total: <span id="total_pilots">? alas</span>&nbsp;<span id="total_sport">(? sport)</span></td>
      </tr>
    </tbody>
  </table>

  <table id="regions_stats" class="pilot_stats">
    <tbody>
      <tr>
        <td class="total">CCAA/Países</strong></td>
      </tr>
    </tbody>
  </table>

  <table id="clubs_stats" class="pilot_stats">
    <tbody>
      <tr>
        <td class="total">Clubes: <strong><span id="total_clubs">?</span></strong></td>
      </tr>
    </tbody>
  </table>

  <script type="text/javascript">
  Object.size = function(obj) {
      var size = 0, key;
      for (key in obj) {
          if (obj.hasOwnProperty(key)) size++;
      }
      return size;
  };
  $(window).load(function(){
    $.ajax({
      url: 'http://morning-planet-6150.herokuapp.com/pilots.json',
      dataType: 'jsonp',
      success: function(pilots) {
        var table = $('table.pilots'),
            tbody = $('tbody', table),
            tstats = $('table#brands_stats tbody'),
            tclubs = $('table#clubs_stats tbody'),
            tregions = $('table#regions_stats tbody'),
            regions = {},
            region = '',
            brands = {},
            clubs = {},
            sport = 0,
            paid = 0;

        {% include countries_alpha3_hash_es.js %}

        tbody.html('');
        for(var i=0;i<pilots.length;i++){
          if(pilots[i].glider_class == 0) sport++;
          if(pilots[i].paid) paid++;
          
          ( clubs[pilots[i].club]++ || ( clubs[pilots[i].club] = 1) );

          ( brands[pilots[i].brand]++ || ( brands[pilots[i].brand] = 1) );

          if(countries[pilots[i].region] === undefined)
            region = pilots[i].region;
          else
            region = countries[pilots[i].region];

          ( regions[region]++ || ( regions[region] = 1) );

          
          tbody.append('<tr class="class_'+pilots[i].glider_class+'">'+
            '<td><span class="pilot_id">'+pilots[i].fsdb_id+'</span>'+
              pilots[i].name+" "+pilots[i].surname+'</td>'+
            '<td class="nat '+pilots[i].nat+'"><span title="'+countries[pilots[i].nat]+'">'+pilots[i].nat+'</span></td>'+
            '<td class="glider_class"><span>&nbsp;</span></td>'+
            '<td class="glider">'+pilots[i].brand+' '+pilots[i].model+"</td>"+
            '<td class="paid_'+pilots[i].paid+'"><span>&nbsp;</span></td></tr>');
        }

        $('#total_pilots', tstats).html(pilots.length+ ' alas');
        $('#total_sport', tstats).html('('+sport+ ' sport)');
        $('#total_clubs', tclubs).html(Object.size(clubs));

        $.each(brands, function(brand, count) {
            tstats.append('<tr class="brand_total '+brand+'"><td><span>&nbsp;</span>'+brand+": <strong>"+count+"</strong></td></tr>");
        });
        tstats.append('<tr class="total_paid"><td>Inscripciones pagadas: <strong>'+paid+"</strong></td></tr>");
        $.each(clubs, function(club, count) {
            tclubs.append('<tr class="brand_total '+club+'"><td>'+club+": <strong>"+count+"</strong></td></tr>");
        });
        $.each(regions, function(region, count) {
            tregions.append('<tr class="brand_total '+region+'"><td>'+region+": <strong>"+count+"</strong></td></tr>");
        });
        tclubs.show();
        tregions.show();
        tstats.show();

        {% include photo_sticker.js %}

      }
    });
  });
  </script>
