<div class="center_wrapper">
  <div class="account">
    <h4>Club de Vuelo Libre Cádiz</h4>
    <p>UNICAJA</p>
    <p>2103 4004 46 0030009471</p>
    <p>Concept: <strong>Nacional Piedrahita</strong></p>
  </div>
</div>
<p>For payments from outside Spain please use the following IBAN/SWIFT codes:</p>
<div class="center_wrapper">
  <div class="account">
    <p>IBAN: <strong>ES9121034004460030009471</strong></p>
    <p>SWIFT/BIC: <strong>UCJAES2M</strong></p>
  </div>
</div>
<p>When making the payment please send us an email with your data or the receipt of the transfer to <strong>{{site.email}}</strong>.</p>
