  <option value="Andalucía">Andalucía</option>
  <option value="Aragón">Aragón</option>
  <option value="Islas Baleares">Islas Baleares</option>
  <option value="Canarias">Canarias</option>
  <option value="Cantabria">Cantabria</option>
  <option value="Castilla-La Mancha">Castilla-La Mancha</option>
  <option value="Castilla y León">Castilla y León</option>
  <option value="Cataluña">Cataluña</option>
  <option value="Comunidad de Madrid">Comunidad de Madrid</option>
  <option value="Comunidad Foral de Navarra">Comunidad Foral de Navarra</option>
  <option value="Extremadura">Extremadura</option>
  <option value="Galicia">Galicia</option>
  <option value="La Rioja">La Rioja</option>
  <option value="País Vasco">País Vasco</option>
  <option value="Principado de Asturias">Principado de Asturias</option>
  <option value="Región de Murcia">Región de Murcia</option>
  <option value="Comunidad Valenciana">Comunidad Valenciana</option>
