<img class="right" src="images/despegando.jpg" alt="Despegando en Peña Negra (Escuela Icaro 10)"/>
  <ul>
    <li><strong>José</strong>: (+34) 656 31 17 41</li>
    <li><strike>Elena</strike>: (+34) 650 82 39 84</li>
    <li><strong>Ignacio</strong>: (+34) 605 48 50 93</li>
    <li><strong>David</strong>: (+34) 687 50 76 20</li>
    <li><strong>Toni</strong>: (+34) 625 762 744</li>
    <li><strong>Jota</strong>: (+34) 654 904 331</li>
    <li><strong>Pato</strong>: (+34) 654 71 01 67</li>
    <li><strong>Nacho</strong>: (+34) 637 17 30 61</li>
    <li><strong>Javier</strong>: (+34) 696 562 671</li>
    <li><strong>Samuel</strong>: (+34) 657 69 54 99</li>
    <li><strong>Leticia</strong>: (+34) 665 11 14 85</li>
  </ul>

