<img class="right" src="images/despegando.jpg" alt="Despegando en Peña Negra (Escuela Icaro 10)"/>
  <ul>
    <li><strong>José</strong>: 656 31 17 41</li>
    <li><strike>Elena</strike>: 650 82 39 84</li>
    <li><strong>Ignacio</strong>: 605 48 50 93</li>
    <li><strong>David</strong>: 687 50 76 20</li>
    <li><strong>Toni</strong>: 625 762 744</li>
    <li><strong>Jota</strong>: 654 904 331</li>
    <li><strong>Pato</strong>: 654 71 01 67</li>
    <li><strong>Nacho</strong>: 637 17 30 61</li>
    <li><strong>Javier</strong>: 696 562 671</li>
    <li><strong>Samuel</strong>: 657 69 54 99</li>
    <li><strong>Leticia</strong>: 665 11 14 85</li>
    <li><strong>Juan Carlos</strong>: 651 910 199</li>
    <li><strong>Jose Carlos</strong>: 651 910 199</li>
  </ul>

