<script src="javascript/jquery.min.js" type="text/javascript"></script>
<script src="javascript/jcarousellite_1.0.1.js" type="text/javascript"></script>
<script src="javascript/jstween.min.js" type="text/javascript"></script>
<script src="javascript/jquery.cookie.js" type="text/javascript"></script>
<script type="text/javascript">

$.cookie.raw = true;
if(($.cookie('iterator') === undefined) || $.cookie('iterator') == 0)
  $.cookie('iterator', 1);
else
  $.cookie('iterator', 0);

$(document).ready(function() {
  $('.gold').show();
  $(".gold .carousel").jCarouselLite({
      auto: 50000,
      speed: 1000
  });
  /* $('.silver_sponsor img').attr('src', 'images/silver_sponsor_'+$.cookie('iterator')+'.png');
   $("header .silver_sponsor").tween({
      opacity: {
        start: 0,
        stop: 100,
        duration: 5.0
      },
      top: {
        start: 800,
        stop: 540,
        duration: 3.0,
        effect: 'easeOut'
      }
  }).play(); */
});
</script>
