<div class="gold">
  <div class="carousel">
    <ul>
      <li>
      <a href="{{ site.url }}/presentacion.html" title="Presentación del Open"><img src="images/logo_piedrahita2013.png"/></a>
      </li>
      <li>
      <a href="{{ site.url }}/sponsors_explained.html" title="Presentación del Open"><img src="images/gold_sponsor_0.png"/></a>
      </li>
      <li>
      <a href="{{ site.url }}/sponsors_explained.html" title="Presentación del Open"><img src="images/gold_sponsor_1.png"/></a>
      </li>
    </ul>
  </div>
</div>
