    <nav class="very_whited_box">
      <ul>
        <li{% if page.section == 'noticias' %} class="active"{% endif %}><a href="noticias.html">Noticias</a></li>
        <li{% if page.section == 'presentacion' %} class="active"{% endif %}><a href="presentacion.html">Presentación</a></li>
        <li{% if page.section == 'inscripcion' %} class="active"{% endif %}><a href="inscripcion.html">Inscripción</a></li>
        <li{% if page.section == 'pilotos' %} class="active"{% endif %}><a href="pilotos.html">Pilotos</a></li>
        <li><a target="_blank" title="Seguimiento en tiempo real de las pruebas" href="http://live.flymaster.net/comps/openhgpiedrahita2013">LiveTracking</a></li>
        <li{% if page.section == 'alojamiento' %} class="active"{% endif %}><a href="alojamientos.html">Alojamientos</a></li>
        <li{% if page.section == 'conductores' %} class="active"{% endif %}><a href="conductores.html">Conductores</a></li>
        <li{% if page.section == 'balizas' %} class="active"{% endif %}><a href="balizas.html">Balizas</a></li>
        <li{% if page.section == 'cartel' %} class="active"{% endif %}><a href="cartel.html">Cartel</a></li>
        <li{% if page.section == 'mapa' %} class="active"{% endif %}><a href="mapa.html">Mapa</a></li>
        <!-- li{% if page.section == 'patrocinadores' %} class="active"{% endif %}><a href="patrocinadores.html">SPONSORS</a></li -->
        <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/CtoEspa%C3%B1a-Ala-Delta-Piedrahita2013/466146763465028" title="Página de Facebook"><img alt="Página de Facebook" src="/images/fb_logo.png"></a></li>
      </ul>
    </nav>
    <div class="silver_sponsor very_whited_box">
    </div>
