    <nav class="whited_box">
      <ul>
        <li{% if page.section == 'presentacion' %} class="active"{% endif %}><a href="presentacion.html">Presentación</a></li>
        <li{% if page.section == 'inscripcion' %} class="active"{% endif %}><a href="inscripcion.html">Inscripción</a></li>
        <li{% if page.section == 'pilotos' %} class="active"{% endif %}><a href="pilotos.html">Pilotos</a></li>
        <li{% if page.section == 'balizas' %} class="active"{% endif %}><a href="balizas.html">Balizas</a></li>
        <li><a target="_blank" title="Zonas de vuelo en La Corneja de Gredos" href="http://www.cornejadegredos.es/pages/zonas.html">Zonas de Vuelo</a></li>
        <li{% if page.section == 'alojamiento' %} class="active"{% endif %}><a target="_blank" title="Alojamiento en la zona en la página de La Corneja de Gredos" href="http://www.cornejadegredos.es/pages/alojamientos.html">Alojamientos</a></li>
        <li{% if page.section == 'mapa' %} class="active"{% endif %}><a href="mapa.html">Mapa</a></li>
        <!-- li{% if page.section == 'patrocinadores' %} class="active"{% endif %}><a href="patrocinadores.html">SPONSORS</a></li -->
      </ul>
    </nav>
    <div class="silver_sponsor very_whited_box">
      <a href="sponsors_explained.html" title="Tipos de patrocinio del Campeonato"><img src="images/silver_sponsor_0.png"/></a>
    </div>
