    <nav class="very_whited_box">
      <ul>
        <li{% if page.section == 'noticias' %} class="active"{% endif %}><a href="index.html">Welcome</a></li>
        <li{% if page.section == 'presentacion' %} class="active"{% endif %}><a href="presentation.html">Welcome</a></li>
        <li{% if page.section == 'inscripcion' %} class="active"{% endif %}><a href="signup.html">Sign Up</a></li>
        <li{% if page.section == 'clasificacion' %} class="active"{% endif %}><a href="clasificacion.html">Results</a></li>
        <li{% if page.section == 'pilotos' %} class="active"{% endif %}><a href="pilots2013.html">Pilots</a></li>
        <li><a target="_blank" title="Watch task tracks in real time" href="http://live.flymaster.net/comps/openhgpiedrahita2013">LiveTracking</a></li>
        <li{% if page.section == 'alojamiento' %} class="active"{% endif %}><a target="_blank" title="Accomodation courtesy of La Corneja de Gredos' web page" href="http://www.cornejadegredos.es/pages_ing/alojamientos_ing.html">Accomodation</a></li>
        <li{% if page.section == 'balizas' %} class="active"{% endif %}><a href="waypoints.html">Waypoints</a></li>
        <li{% if page.section == 'cartel' %} class="active"{% endif %}><a href="poster.html">Poster</a></li>
        <li{% if page.section == 'mapa' %} class="active"{% endif %}><a href="map.html">Map</a></li>
        <!-- li{% if page.section == 'patrocinadores' %} class="active"{% endif %}><a href="sponsors.html">SPONSORS</a></li -->
        <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/CtoEspa%C3%B1a-Ala-Delta-Piedrahita2013/466146763465028" title="Página de Facebook"><img alt="Página de Facebook" src="/images/fb_logo.png"></a></li>
      </ul>
    </nav>
    <div class="silver_sponsor very_whited_box">
      <a href="sponsors_explained.html" title="Tipos de patrocinio del Campeonato"><img src="images/silver_sponsor_1.png"/></a>
    </div>
