    <nav class="whited_box">
      <ul>
        <li{% if page.section == 'presentacion' %} class="active"{% endif %}><a href="presentacion.html">Welcome</a></li>
        <li{% if page.section == 'inscripcion' %} class="active"{% endif %}><a href="inscripcion.html">Sign Up</a></li>
        <li{% if page.section == 'pilotos' %} class="active"{% endif %}><a href="pilotos.html">Pilots</a></li>
        <li{% if page.section == 'balizas' %} class="active"{% endif %}><a href="balizas.html">Waypoints</a></li>
        <li{% if page.section == 'mapa' %} class="active"{% endif %}><a href="mapa.html">Map</a></li>
        <li{% if page.section == 'patrocinadores' %} class="active"{% endif %}><a href="patrocinadores.html">SPONSORS</a></li>
      </ul>
    </nav>
    <div class="silver_sponsor very_whited_box">
      <a href="sponsors_explained.html"><img src="images/silver_sponsor_1.png"/></a>
    </div>
