
<h2>GOLD</h2>
<div class="sponsor_logos">
      <a href="{{ site.url }}/sponsors_explained.html" title="Tipos de patrocinio del Campeonato"><img src="images/gold_sponsor_0.png"/></a>
      <a href="{{ site.url }}/sponsors_explained.html" title="Tipos de patrocinio del Campeonato"><img src="images/gold_sponsor_1.png"/></a>
</div>
<h2>SILVER</h2>
<div class="sponsor_logos">
      <a href="{{ site.url }}/sponsors_explained.html" title="Tipos de patrocinio del Campeonato"><img src="images/silver_sponsor_0.png"/></a>
      <a href="{{ site.url }}/sponsors_explained.html" title="Tipos de patrocinio del Campeonato"><img src="images/silver_sponsor_1.png"/></a>
</div>

<h2>BRONZE</h2>
<div class="sponsor_logos">
      <a href="{{ site.url }}/sponsors_explained.html" title="Tipos de patrocinio del Campeonato"><img src="images/bronze_sponsor_0.png"/></a>
</div>
